.contenedor{
	width: 70vw;
	margin: 0 auto;
}
.menuSup{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	background-color: rgb(244,243,239);
	font-size: 1.2em;
}
.menuInf{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-end;
	background-color: rgb(0,51,153);
	font-size: 1.2em;
}
.lista-item{
	padding: 0.2em 0.5em;
}
header nav ul li a{
	color: black;
}
header div nav ul li a{
	color: white;
}

nav ul{
	list-style-type: none;
	padding: 0;
}
nav li{
	display: inline;
}
li a{
	text-decoration: none;
}
.logo{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-color: rgb(0,51,153);
}
.verde{
	color: rgb(29,182,111);
	padding-top: 0.2em;
}
input[type=text], input[type=date]{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=text]:focus, input[type=date]:focus {
    background-color: lightblue;
}
select {
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
.vuelo{
    padding: 0.8em 1.2em;
    margin: 8px 0;
    border: none;
    border-radius: 0.2em;
    background-color: rgb(30,68,213);
    color: white;
    font-size: 1.3em;
}
.vueloHotel{
    padding: 0.8em 1.2em;
	margin: 8px 0;
    border: 1px solid rgb(204,204,204);
    border-radius: 4px;
    background-color: white;
    color: rgb(30,68,213);
    font-size: 1.3em;
}
.relleno{
	padding-top: 0.1em;
}
.formulario{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
}
.campos{
	justify-content: center;
}
footer{
	color: grey;
	text-align: center;
	font-size: 0.9em;
	padding-top: 1.2em;
}
.xfondoForm{
	background-image: url('../res/icon/android/ayuntamiento.jpg');
	background-size: 50%;
	opacity: 0.5;
}
/*

.ayuda{
	float: right;
	width: 70%;
	padding: 1% 15%;
	text-align: right;
	background-color: rgb(244,243,239);
}

.logo{
	float: left;
	width: 70%;
	padding: 1% 15%;
	background-color: rgb(0,51,153);
}

nav{
	float: right;
	width: 70%;
	padding: 0% 15%;
	background-color: rgb(0,51,153);
	font-size: 1.2em;
}





.col{
	float: left;
	width: 48%;
	padding: 0.5%;
}


.xvuelo{
	width: 49.5%;
    padding: 0.8em 1.2em;
    border: none;
    border-radius: 0.2em;
    background-color: rgb(30,68,213);
    color: white;
    font-size: 1.3em;
}



*/